.row
  .col-md-12
    %h1 Sign up
    = form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
      = devise_error_messages!
      .form-group
        = f.label :name
        = f.text_field :name, :autofocus => true, class: 'form-control',
          required: 'required'
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control', required: 'required'
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
      - content_for(:devise_shared) do
        %li= f.submit "Sign up", class: 'btn btn-primary'
      = render "devise/shared/links"
