%table.table.recipes
  %thead
    %tr
      %th Name
      %th Tags
      %th Created by
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td.name
          = link_to recipe_path(recipe) do
            = image_tag recipe.image.url, class: 'img-thumbnail img-xs'
            = recipe.name
        %td= recipe.tag_links
        %td= recipe.created_by
