- content_for(:title) { @recipe.name }

.row
  .col-md-10
    %h1= @recipe.name
  .col-md-2.text-right
    - if current_user == @recipe.user
      = link_to "Edit Recipe", edit_recipe_path(@recipe),
        class: 'btn btn-primary'
.row
  .col-md-12
    %h3 Ingredients

    :markdown
      #{@recipe.ingredients}

.row
  .col-md-12
    %h3 Directions

    :markdown
      #{@recipe.directions}
.row
  .col-md-12
    %hr
    %p
      - if @recipe.tags.any?
        .pull-right
          %strong Tags:
          = @recipe.tag_list

      - if @recipe.source?
        %strong Source:
        = link_to @recipe.source, @recipe.source
