- content_for(:title) { @recipe.name }

.row
  .col-md-10
    %h1= @recipe.name
    = @recipe.fork_origin_link
  .col-md-2.text-right
    #top-controls
      - if current_user == @recipe.user
        = link_to "Edit Recipe", edit_recipe_path(@recipe.id),
          class: 'btn btn-primary'
      - else
        = @recipe.fork_link(current_user)
.row
  .col-md-8
    %h3 Ingredients

    :markdown
      #{@recipe.ingredients}

    %h3 Directions

    :markdown
      #{@recipe.directions}

  .col-md-4
    = image_tag @recipe.image.url, class: 'img-rounded img-responsive'
.row
  .col-md-12
    %hr
    %p
      - if @recipe.tag_links.present?
        .pull-right
          %strong Tags:
          = @recipe.tag_links

      - if @recipe.source.present?
        %strong Source:
        = @recipe.source
