!!!
%html
  %head
    %title
      - if yield(:title).present?
        #{yield(:title)} -
      The Cookbook
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body{class: "#{controller.controller_name}-#{controller.action_name}"}
    = render "layouts/navigation"
    .container
      = render "layouts/flash", flash: flash
      = yield
    = javascript_include_tag 'application'
